<AuthorizeView Roles="Admin">
     @*<a href="Identity/Account/Register">Inscription</a>*@
     <MudLink Href="Identity/Account/Register">Inscription</MudLink>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <MudLink Href="Identity/Account/Manage">Bonjour, @context.User.Identity?.Name</MudLink>

        <form method="post" action="Identity/Account/LogOut">
            <MudFab StartIcon="@Icons.Filled.Logout" 
                    Label="Déconnexion" 
                    ButtonType="ButtonType.Submit" 
                    Color="Color.Secondary" 
                    Size="Size.Small" />
        </form>
    </Authorized>

    <NotAuthorized>
        @*<a href="Identity/Account/Register">S'inscrire</a>*@
        <a href="Identity/Account/Login">Connexion</a>
    </NotAuthorized>
</AuthorizeView>