@inherits LayoutComponentBase

<PageTitle>BlazorSvrMySqlAuth</PageTitle>

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <AuthorizeView Roles="Admin, Compositeur">
    <div class="sidebar">
        <NavMenu />
    </div>
    </AuthorizeView>

    <main>
		<AuthorizeView Roles="Admin, Compositeur">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://github.com/AnthonyRyck/BlazorBlog" target="_blank">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
                Github
            </a>
        </div>
		 </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
