@inherits LayoutComponentBase

<PageTitle>BlazorSvrMySqlAuth</PageTitle>

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <AuthorizeView Roles="Admin, Compositeur">
    <div class="sidebar">
        <NavMenu />
    </div>
    </AuthorizeView>

    <main>
		<AuthorizeView Roles="Admin, Compositeur">
        <div class="top-bar">
            <LoginDisplay />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" 
                            Title="GitHub" 
                            Color="Color.Primary"
                            Href="https://github.com/AnthonyRyck/BlazorBlog" Target="_blank" />
        </div>
		 </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-bar">
             <MudIconButton Icon="@Icons.Custom.Brands.GitHub" 
                            Title="GitHub" 
                            Color="Color.Primary"
                            Href="https://github.com/AnthonyRyck/BlazorBlog" Target="_blank" />
        </div>
    </main>
</div>
