@inherits LayoutComponentBase

<PageTitle>BlazoBlog</PageTitle>

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <AuthorizeView Roles="Admin, Compositeur">
    <div class="sidebar">
        <NavMenu />
    </div>
    </AuthorizeView>

    <main>
        <div class="top-bar">
		    <AuthorizeView Roles="Admin, Compositeur">
                <LoginDisplay />
		    </AuthorizeView>
            
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" 
                            Title="GitHub" 
                            Color="Color.Primary"
                            Href="https://github.com/AnthonyRyck/BlazorBlog" Target="_blank" />
        </div>

        <div class="content px-4">
            @Body
        </div>

@*        <div class="bottom-bar">
             <MudIconButton Icon="@Icons.Custom.Brands.GitHub" 
                            Title="GitHub" 
                            Color="Color.Primary"
                            Href="https://github.com/AnthonyRyck/BlazorBlog" Target="_blank" />
        </div>*@
    </main>
</div>
