@inherits LayoutComponentBase
@inject SettingsSvc settings

<PageTitle>@settings.BlogName</PageTitle>

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <AuthorizeView Roles="Admin, Compositeur">
    <div class="sidebar">
        <NavMenu />
    </div>
    </AuthorizeView>

    <main>
        <div class="top-bar">
            <AuthorizeView Roles="Admin, Compositeur">
                <Authorized>
                    <LoginDisplay />
                </Authorized>
						
		        <NotAuthorized>
                    <MudText>@settings.BlogName</MudText>
                </NotAuthorized>
            </AuthorizeView>
			<MudIconButton Icon="@Icons.Custom.Brands.GitHub"
						   Class="object-right"
                          Title="GitHub" 
                          Color="Color.Primary"
                          Href="https://github.com/AnthonyRyck/BlazorBlog" Target="_blank" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
